<!-- ////////////// FOOTER ////////////// -->
footer
	.footer
		.container
			.row
				.col-lg-3
					ul  
						li.titf Fullstack vietnam
						li khoa hoc fullstack vietnam
						li khoa hoc fullstack vietnam
						li khoa hoc fullstack vietnam
						li khoa hoc fullstack vietnam
				.col-lg-3
					ul  
						li.titf links
						li khoa hoc fullstack vietnam
						li khoa hoc fullstack vietnam
						li khoa hoc fullstack vietnam
						li khoa hoc fullstack vietnam
				.col-lg-3
					ul
						li.titf &nbsp;
						li khoa hoc fullstack vietnam
						li khoa hoc fullstack vietnam
						li khoa hoc fullstack vietnam
						li khoa hoc fullstack vietnam
				.col-lg-3
					ul  
						li.titf email
						li.search 
							input(type="text" placeholder="Email của bạn")
							input(type="button", value="Gửi")
	.end
		.container
			.row
				.col-lg-11
					p Copyright 2018 by FullStack Vietnam.
				.col-lg-1
					.icon
						i.fa.fa-facebook
						i.fa.fa-google


		
